<div class="d-flex flex-column justify-content-center align-items-center p-3">
    <h1>Welcome to Friend App</h1>
    <p>In this app you can add, remove, and edit your contacts, in an <strong>easier</strong> way</p>
</div>